body {
    
    margin-top: 100px;
    background-image: url(../img/img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

nav h4 a{
    font-family: helvetica;
    padding: 10px;
    border-radius: 15px;
}
nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(66, 1, 66);
    display: flex;
    border: 1px solid #fff;
    
    
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    
    
}

nav h4 {
    color: black;
    padding: 20px;
}

li{
    margin-right: 30px;
    font-size: 20px;
    
}

nav a{
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    border-radius: 10px;
    
}

nav a:hover{
    background-color: darkgray;
}

.section {
    align-items: center;
}

.box{
    border-radius: 10px;
    background-color: rgb(66, 1, 66);
    text-align: center;
    font-size: 25px;
    margin: 20px;
    height: 150px;
    width: 250px;
    display: inline-block;
    border-bottom: 5px solid #fff;

}


.p {
    color: black;
    margin-right: 30px;
    text-align: center;
}



section article {
    color: black;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: rgb(66, 1, 66);
    
   
}

section article p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

section div a  {
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
   
}

section div a:hover {
    background-color: darkgrey;
}

.apresentaçao {
    visibility: hidden;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    z-index: 30;
   

}

/*Custom Button*/

button {
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.7;
    font-size: 1rem;
}

button:hover {
    opacity: 1;
}

#fade, #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: .5rem;

}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;

}

footer {
    text-align: center;
    border-top: 10px solid rgb(66, 1, 66);
    padding: 20px;
    color: #fff;
    
}
